@using PersonalWebApp.Infrastructure.Settings
@inject Microsoft.Extensions.Options.IOptions<AppSettings> AppSettingsOptions
<div class="container">
    <div class="row">
        <div class="col-md-12 headline">
            <h2>Igor Fesenko</h2>
            <p>Microsoft Certified Solutions Developer. Create simple solutions to complex problems.</p>
        </div>
        <div class="col-md-3 col-sm-6 hidden-xs">
            <img class="avatar" src="@($"//{AppSettingsOptions.Value.CdnUrl}/images/profile.jpg")" alt="Personal photo">
            <div class="profile-widget">
                <ul class="widget-social">
                    <li><a href="https://github.com/Ky7m" rel="noopener"><i class="fa fa-github-alt"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/ifesen" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://twitter.com/Ky7m" rel="noopener"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="profile-widget">
                <h3>Skillset</h3>
                <h5>Web Applications</h5>
                <div class="skill-bar">
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                </div>

                <h5>Web Services and SOA</h5>
                <div class="skill-bar">
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                </div>

                <h5>Security and Identity</h5>
                <div class="skill-bar">
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                </div>

                <h5>Cloud Computing</h5>
                <div class="skill-bar">
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                </div>

                <h5>Data Access, Integration, and Databases</h5>
                <div class="skill-bar">
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-off"></div>
                </div>

                <h5>Desktop Applications</h5>
                <div class="skill-bar">
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-off"></div>
                </div>

                <h5>Big Data</h5>
                <div class="skill-bar">
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-off"></div>
                    <div class="skill-rate-off"></div>
                </div>

                <h5>Mobile Client Applications</h5>
                <div class="skill-bar">
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-off"></div>
                    <div class="skill-rate-off"></div>
                    <div class="skill-rate-off"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <h3>Professional Profile</h3>
            <p>I've 6+ year experience leading software development projects. I'm passionate about designing and developing scalable, flexible, cloud ready software solutions, utilizing state of art security practices.</p>
            <p>I'm proficient in C#, JavaScript & Azure and have managed and assessed multiple projects focusing on high performance and large data solutions, taking advantage of all the features and capabilities available on target platform.</p>
            <p>My current focus is on the building and improvement of scalable and secure web applications, cloud-enabled applications and operations, and identity & access management.</p>
            <p>I'm available for helping your team succeed through focused and effective consulting services in software solution architecture, design, development, security, operations, automated lifecycle management, and more.</p>
            <p>In most cases, <span><i class="fa fa-fw fa-twitter"></i><a href="https://twitter.com/Ky7m" rel="noopener">Twitter</a></span> will get you a faster reply than <span><i class="fa fa-fw fa-linkedin"></i><a href="https://www.linkedin.com/profile/view?id=182744142">LinkedIn</a></span>.</p>
            <p> I would be happy to discuss speaking, usually about C#,JavaScript & Azure.</p>
        </div>
    </div>
</div>