@using PersonalWebApp.Settings
@using Microsoft.Extensions.Options
@inject IOptions<AppSettings> AppSettings

<div class="container">
    <div class="row">
        <div class="col-md-12 headline">
            <h2>Igor Fesenko</h2>
            <p>Microsoft® Most Valuable Professional. Create simple solutions to complex problems.</p>
        </div>
        <div class="col-md-3 col-sm-6 hidden-xs">
            <img class="avatar" src="@AppSettings.Value.CdnEndpoint/images/profile.jpg" alt="Personal photo">
            <div class="profile-widget">
                <ul class="widget-social">
                    <li><a href="https://github.com/Ky7m" rel="noopener"><i class="fa fa-github-alt"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/ifesen" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://twitter.com/Ky7m" rel="noopener"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-sm-12">
            <h3>Professional Profile</h3>
            <p>I have over 10 years of commercial software development experience across a wide range of technologies. I am passionate about designing and developing distributed, scalable and secure web applications and cloud-enabled solutions. I have a valuable experience leading software development projects.</p>
            <p>I am proficient in C#, JavaScript, and Microsoft Azure and managed and assessed multiple projects focusing on high performance and large data solutions, taking advantage of all the features and capabilities available on a target platform. I am skilled at design techniques and accomplished at process modeling, application architecture, and scalability architecture.</p>
            <p>My current focus is on the building and improvement of scalable and secure web applications, cloud-enabled applications and operations. I am also a contributor to a number of Open Source projects and a speaker at local and international technical conferences, meetups and user groups.</p>
        </div>
    </div>
</div>