@using PersonalWebApp.Settings
@using Microsoft.Extensions.Options
@inject IOptions<AppSettings> AppSettings

<div class="container">
    <div class="row">
        <div class="col-md-12 headline">
            <h2>Igor Fesenko</h2>
            <p>Microsoft® Most Valuable Professional. Create simple solutions to complex problems.</p>
        </div>
        <div class="col-md-3 col-sm-6 hidden-xs">
            <img class="avatar" src="@AppSettings.Value.CdnEndpoint/images/profile.jpg" alt="Personal photo">
            <div class="profile-widget">
                <ul class="widget-social">
                    <li><a href="https://github.com/Ky7m" rel="noopener"><i class="fa fa-github-alt"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/ifesen" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://twitter.com/Ky7m" rel="noopener"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-sm-12">
            <h3>Professional Profile</h3>
            <p>I am a seasoned software engineer focusing on designing and building secure, scalable, and distributed web applications and cloud-based solutions. With over 13 years of commercial experience across multiple technologies, I am passionate about leveraging the latest advancements to create high-performance and data-intensive solutions.</p>
            <p>As a Microsoft® Most Valuable Professional in Developer Technologies, I am proficient in C# and Microsoft Azure, and I have led multiple software development projects with a keen eye for detail. My expertise in design techniques, application architecture, and scalable solutions enables me to deliver robust, efficient, and reliable applications that exceed expectations.</p>
            <p>I also actively contribute to several Open Source projects and frequently speak at local and international technical conferences, meetups, and user groups. My commitment to staying up-to-date with industry trends and innovations enables me to create modern, cutting-edge solutions that drive business success.</p>
        </div>
    </div>
</div>