@using Microsoft.Extensions.Options
@using PersonalWebApp.Settings
@inject IOptions<AppSettings> AppSettings

<div class="container">
    <div class="row">
        <div class="col-md-12 headline">
            <h2>Igor Fesenko</h2>
            <p>Microsoft® Most Valuable Professional. Create simple solutions to complex problems.</p>
        </div>
        <div class="col-md-3 col-sm-6 hidden-xs">
            <img class="avatar" src="@AppSettings.Value.CdnEndpoint/images/profile.jpg" alt="Personal photo">
            <div class="profile-widget">
                <ul class="widget-social">
                    <li><a href="https://github.com/Ky7m" rel="noopener"><i class="fa fa-github-alt"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/ifesen" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://twitter.com/Ky7m" rel="noopener"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-sm-12">
            <h3>Professional Profile</h3>
            <p>I've a valuable experience leading software development projects. I'm passionate about designing and developing scalable, flexible, cloud ready software solutions, utilizing state of art security practices.</p>
            <p>I'm proficient in C#, JavaScript & Azure and have managed and assessed multiple projects focusing on high performance and large data solutions, taking advantage of all the features and capabilities available on target platform.</p>
            <p>My current focus is on the building and improvement of scalable and secure web applications, cloud-enabled applications and operations, and identity & access management.</p>
            <p>In most cases, <span><i class="fa fa-fw fa-twitter"></i><a href="https://twitter.com/Ky7m" rel="noopener">Twitter</a></span> will get you a faster reply than <span><i class="fa fa-fw fa-linkedin"></i><a href="https://www.linkedin.com/in/ifesen">LinkedIn</a></span>.</p>
            <p>I would be happy to discuss speaking, usually about C#,JavaScript & Azure.</p>
        </div>
    </div>
</div>