<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="profile-item">
                <i class="fa fa-user-o"></i>
                <h5><a href="https://mvp.microsoft.com/en-us/PublicProfile/5002442?fullName=Igor%20%20Fesenko" rel="noopener">Microsoft© MVP Profile</a></h5>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="profile-item">
                <i class="fa fa-github-alt"></i>
                <h5><a href="https://github.com/Ky7m" rel="noopener">GitHub</a></h5>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="profile-item">
                <i class="fa fa-twitter"></i>
                <h5><a href="https://twitter.com/Ky7m" rel="noopener">@@Ky7m</a></h5>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="profile-item">
                <i class="fa fa-map-marker"></i>
                <h5>San Francisco</h5>
            </div>
        </div>
    </div>
</div>