<div class="container">
    <div class="row">
        <div class="col-md-12 headline wow bounceInDown">
            <h2>CV</h2>
            <p>
                My education and experience.
            </p>
        </div>
    </div><!-- .row -->
    <div class="row cv-items">
        <div class="col-md-3 wow bounceInLeft">
            <h3>Education</h3>
        </div>
        <div class="col-md-6 col-sm-8 cv-item wow bounceInLeft">
            <h4>Computer science</h4>
            <p>
                Honours Degree in Automatic control. It's the application of control theory for regulation of processes without direct human intervention.
            </p>
            <hr class="hidden-xs">
        </div>
        <div class="col-md-3 col-sm-4 cv-place wow bounceInRight">
            <h4><i class="fa fa-suitcase"></i>Sevastopol National Technical University</h4>
            <i class="fa fa-calendar"></i> 2006 - 2011
            <hr class="visible-xs">
        </div>
    </div><!-- .row -->
    <div class="row cv-items">
        <div class="col-md-3 wow bounceInLeft">
            <h3>Experience</h3>
        </div>

        <div class="col-md-6 col-sm-8 cv-item wow bounceInUp">
            <h4>Technical Leader</h4>
            <p>
                Establish proper technical vision, setup and maintain software engineering processes on the project incorporating best industry practices. Ensure the highest quality of project deliverables which meet client objectives and priorities.
            </p>
            <hr class="hidden-xs">
        </div>
        <div class="col-md-3 col-sm-4 cv-place wow bounceInRight">
            <h4><i class="fa fa-suitcase"></i> SoftServe</h4>
            <i class="fa fa-calendar"></i> 2014 - Present
            <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8 cv-item wow bounceInUp">
            <h4>Senior .NET / ASP.NET Software Design Engineer</h4>
            <p>
                Designed and implemented software including complex components. Took full responsibility for the implementation of certain web-based project parts.
            </p>
            <hr class="hidden-xs">
        </div>
        <div class="col-md-3 col-sm-4 cv-place wow bounceInRight">
            <h4><i class="fa fa-suitcase"></i> SoftServe</h4>
            <i class="fa fa-calendar"></i> 2013 - 2014
            <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8 cv-item wow bounceInUp">
            <h4>.NET / ASP.NET Software Design Engineer</h4>
            <p>
                Developed AJAX-based client-side web application that is used as an interface for master data management (MDM) system. Written in C# and JavaScript, connecting to SQL Server via WCF.
            </p>
            <hr class="hidden-xs">
        </div>
        <div class="col-md-3 col-sm-4 cv-place wow bounceInRight">
            <h4><i class="fa fa-suitcase"></i> SoftServe</h4>
            <i class="fa fa-calendar"></i> 2012 - 2013
            <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8 cv-item wow bounceInUp">
            <h4>.NET Software Design Engineer</h4>
            <p>Design and implementation of software for diverse clients. Some projects include:</p>
            <ul>
                <li>Designed and implemented desktop client for WebEffector services. Written in C# using WPF.</li>
                <li>Designed and implemented components for a web-based portal that is used as management system. Written in C# using ASP.NET Web Forms.</li>
            </ul>
            <hr class="hidden-xs">
        </div>
        <div class="col-md-3 col-sm-4 cv-place wow bounceInRight">
            <h4><i class="fa fa-suitcase"></i> Miralab</h4>
            <i class="fa fa-calendar"></i> 2011 - 2012
            <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8 cv-item wow bounceInUp">
            <h4>.NET Software Design Engineer</h4>
            <p>Wrote software for internal use.  Projects include:</p>
            <ul>
                <li>Designed and implemented program emulator of Outdoor Switching Module for testing purposes. Written in C# and C++ using Interprocess communication (IPC).</li>
                <li>Architect designing and implementing a Software Package that is dedicated for electricity meters testing. Written in C# using WinForms.</li>
            </ul>
            <hr class="hidden-xs">
        </div>
        <div class="col-md-3 col-sm-4 cv-place wow bounceInRight">
            <h4><i class="fa fa-suitcase"></i> Tavrida Electric</h4>
            <i class="fa fa-calendar"></i> 2010 - 2011
            <hr class="visible-xs">
        </div>
    </div><!-- .row -->
</div><!-- .container -->