<div class="container">
    <div class="row">
        <div class="col-md-12 headline">
            <h2>Events</h2>
            <p>
                Locked in. There are always others waiting to be announced.
            </p>
        </div>
    </div>
    <div class="row events-per-year">
        <div class="col-md-3">
            <h3>2016</h3>
        </div>

        <div class="col-md-6 col-sm-8">
            <h4>Web UI Community - SoftServe</h4>
            <p>
                Web Development in Future
            </p>
            <ul class="collateral">
                <li><a href="https://www.youtube.com/watch?v=Om_NPxSuEf8">Video (Rus)</a></li>
                <li><a href="https://sway.com/LxEYWidCXvki-OHN">Sway</a></li>
            </ul>
            <hr class="hidden-xs">
        </div>
        <div class="col-md-3 col-sm-4 event-place">
            <h4><i class="fa fa-location-arrow"></i>Webcast</h4>
            <i class="fa fa-calendar"></i>Jul 24, 2015
            <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8">
            <h4><a href="https://www.facebook.com/events/688982824575438/">.Net Morning@Lohika</a></h4>
            <p>
                Effective Memory Management - Memory Hygiene
            </p>
            <ul class="collateral">
                <li><a href="https://doc.co/LEvVSM">PowerPoint</a></li>
                <li><a href="https://ifesenko.blob.core.windows.net/assets/EffectiveMemoryManagement.zip">Demo Code</a></li>
            </ul>
            <hr class="hidden-xs">
        </div>
        <div class="col-md-3 col-sm-4 event-place">
            <h4><i class="fa fa-location-arrow"></i>Lviv (Ukraine)</h4>
            <i class="fa fa-calendar"></i>Feb 13, 2016
            <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8">
            <h4>.NET Community - SoftServe</h4>
            <p>
                How C# 6.0 Simplifies Your Code
            </p>
            <ul class="collateral">
                <li><a href="https://www.youtube.com/watch?v=gUfrK1rGWB0">Video (Rus)</a></li>
            </ul>
            <hr class="hidden-xs">
        </div>
        <div class="col-md-3 col-sm-4 event-place">
            <h4><i class="fa fa-location-arrow"></i>Webcast</h4>
            <i class="fa fa-calendar"></i>Feb 10, 2016
            <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8">
            <h4><a href="https://www.microsoftevents.com/profile/form/index.cfm?PKformID=0x40756dbc3">Enable Application Innovation Immersion</a></h4>
            <p>
                The Enable Application Innovation Immersion is a mix of discussion, application architecture design, white boarding and hands-on labs. Your team will design the future of business with new functionalities that augment existing business applications and drive development and execution of new initiatives.
            </p>
            <hr class="hidden-xs">
        </div>
        <div class="col-md-3 col-sm-4 event-place">
            <h4><i class="fa fa-location-arrow"></i>Dallas (USA)</h4>
            <i class="fa fa-calendar"></i>Jan 26, 2016
            <hr class="visible-xs">
        </div>

    </div>
    <div class="row events-per-year">
        <div class="col-md-3">
            <h3>2015</h3>
        </div>

        <div class="col-md-6 col-sm-8">
            <h4><a href="https://www.facebook.com/events/1650103461936579/1654170548196537/">Tech#Skills_Day 1.2.</a></h4>
            <p>
                Effective Memory Management: Memory Hygiene
            </p>
            <ul class="collateral">
                <li><a href="https://doc.co/LEvVSM">PowerPoint</a></li>
            </ul>
            <hr class="hidden-xs">
        </div>
        <div class="col-md-3 col-sm-4 event-place">
            <h4><i class="fa fa-location-arrow"></i>Lviv (Ukraine)</h4>
            <i class="fa fa-calendar"></i>Dec 21, 2016
            <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8">
            <h4>.NET Community - SoftServe</h4>
            <p>
                C# GTD : Get Things Done in Bloody Enterprise
            </p>
            <ul class="collateral">
                <li><a href="https://www.youtube.com/watch?v=hOjNpHeMvvw">Video (Rus)</a></li>
                <li><a href="https://doc.co/2EFqPy">PowerPoint</a></li>
            </ul>
            <hr class="hidden-xs">
        </div>
        <div class="col-md-3 col-sm-4 event-place">
            <h4><i class="fa fa-location-arrow"></i>Webcast</h4>
            <i class="fa fa-calendar"></i>Dec 16, 2015
            <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8">
            <h4>.NET Community - SoftServe</h4>
            <p>
                C# : Hack yourself
            </p>
            <ul class="collateral">
                <li><a href="https://www.youtube.com/watch?v=WHwy0vDd8Tg">Video (Rus)</a></li>
                <li><a href="https://doc.co/13tWp4">PowerPoint</a></li>
            </ul>
            <hr class="hidden-xs">
        </div>
        <div class="col-md-3 col-sm-4 event-place">
            <h4><i class="fa fa-location-arrow"></i>Webcast</h4>
            <i class="fa fa-calendar"></i>Nov 19, 2015
            <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8">
            <h4><a href="https://itweekend.ua/en/announcements/itw-kh-nov/">IT Weekend Kharkiv</a></h4>
            <p>
                Effective Memory Management: Memory Hygiene
            </p>
            <ul class="collateral">
                <li><a href="https://doc.co/LEvVSM">PowerPoint</a></li>
            </ul>
            <hr class="hidden-xs">
        </div>
        <div class="col-md-3 col-sm-4 event-place">
            <h4><i class="fa fa-location-arrow"></i>Kharkiv (Ukraine)</h4>
            <i class="fa fa-calendar"></i>Nov 14, 2016
            <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8">
            <h4><a href="https://itweekend.ua/en/announcements/itw-if-nov/">IT Weekend Ivano-Frankivsk</a></h4>
            <p>
                Effective Memory Management: Memory Hygiene
            </p>
            <ul class="collateral">
                <li><a href="https://doc.co/LEvVSM">PowerPoint</a></li>
            </ul>
            <hr class="hidden-xs">
        </div>
        <div class="col-md-3 col-sm-4 event-place">
            <h4><i class="fa fa-location-arrow"></i>Ivano-Frankivsk (Ukraine)</h4>
            <i class="fa fa-calendar"></i>Nov 7, 2016
            <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8">
            <h4><a href="https://itweekend.ua/en/announcements/itw-rv-oct/">IT Weekend Rivne II</a></h4>
            <p>
                Web Development in Future
            </p>
            <ul class="collateral">
                <li><a href="https://sway.com/LxEYWidCXvki-OHN">Sway</a></li>
            </ul>
            <hr class="hidden-xs">
        </div>
        <div class="col-md-3 col-sm-4 event-place">
            <h4><i class="fa fa-location-arrow"></i>Rivne (Ukraine)</h4>
            <i class="fa fa-calendar"></i>Oct 24, 2016
            <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8">
            <h4>.NET Community - SoftServe</h4>
            <p>
                Findings from .NET Microsoft Open Source Projects
            </p>
            <ul class="collateral">
                <li><a href="https://www.youtube.com/watch?v=m9MFhqq0g3k">Video (Rus)</a></li>
                <li><a href="https://doc.co/PU9YJa">PowerPoint</a></li>
            </ul>
            <hr class="hidden-xs">
        </div>
        <div class="col-md-3 col-sm-4 event-place">
            <h4><i class="fa fa-location-arrow"></i>Webcast</h4>
            <i class="fa fa-calendar"></i>Oct 21, 2015
            <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8">
            <h4>Pacemaker: .NET - SoftServe</h4>
            <p>
                Effective Memory Management: Memory Hygiene
            </p>
            <ul class="collateral">
                <li><a href="https://www.youtube.com/watch?v=jpOgZBGL66g">Video (Rus)</a></li>
                <li><a href="https://doc.co/LEvVSM">PowerPoint</a></li>
            </ul>
            <hr class="hidden-xs">
        </div>
        <div class="col-md-3 col-sm-4 event-place">
            <h4><i class="fa fa-location-arrow"></i>Chernivtsi (Ukraine)</h4>
            <i class="fa fa-calendar"></i>Oct 17, 2015
            <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8">
            <h4>Pacemaker: WebUI - SoftServe</h4>
            <p>
                Web Development in Future
            </p>
            <ul class="collateral">
                <li><a href="https://sway.com/LxEYWidCXvki-OHN">Sway</a></li>
            </ul>
            <hr class="hidden-xs">
        </div>
        <div class="col-md-3 col-sm-4 event-place">
            <h4><i class="fa fa-location-arrow"></i>Kyiv (Ukraine)</h4>
            <i class="fa fa-calendar"></i>Sep 5, 2015
            <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8">
            <h4>Web UI Community - SoftServe</h4>
            <p>
                Typescript
            </p>
            <ul class="collateral">
                <li><a href="https://www.youtube.com/watch?v=UqustygnUgk">Video (Rus)</a></li>
                <li><a href="https://doc.co/k8w18R">PowerPoint</a></li>
            </ul>
            <hr class="hidden-xs">
        </div>
        <div class="col-md-3 col-sm-4 event-place">
            <h4><i class="fa fa-location-arrow"></i>Webcast</h4>
            <i class="fa fa-calendar"></i>Jul 24, 2015
            <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8">
            <h4>Development Process Community - SoftServe</h4>
            <p>
                Git workflows for enterprise teams
            </p>
            <ul class="collateral">
                <li><a href="https://www.youtube.com/watch?v=RlJOX5bbh1U">Video (Rus)</a></li>
                <li><a href="https://doc.co/6XH7Kv">PowerPoint</a></li>
            </ul>
            <hr class="hidden-xs">
        </div>
        <div class="col-md-3 col-sm-4 event-place">
            <h4><i class="fa fa-location-arrow"></i>Webcast</h4>
            <i class="fa fa-calendar"></i>Jun 2, 2015
            <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8">
            <h4>.NET Community - SoftServe</h4>
            <p>
                Making .Net Applications Faster
            </p>
            <ul class="collateral">
                <li><a href="https://www.youtube.com/watch?v=Rgvr1hynOmE">Video (Rus)</a></li>
                <li><a href="https://doc.co/8VaeeJ">PowerPoint</a></li>
                <li><a href="https://github.com/Ky7m/MakingDotNETApplicationsFaster">Demo Code</a></li>
            </ul>
            <hr class="hidden-xs">
        </div>
        <div class="col-md-3 col-sm-4 event-place">
            <h4><i class="fa fa-location-arrow"></i>Webcast</h4>
            <i class="fa fa-calendar"></i>Feb 11, 2015
            <hr class="visible-xs">
        </div>

    </div>
</div>