@model EventsModel

<div class="container">
    <div class="row">
        <div class="col-md-3 wow bounceInLeft">
            <h3>Events</h3>
        </div>
        <div class="col-md-9 wow bounceInRight">
            <ul>
                <li></li>
            </ul>
        </div>
    </div>
</div>