<div class="container">
    <div class="row">
        <div class="col-md-12 headline wow bounceInDown">
            <h2>Igor Fesenko</h2>
            <p>Software Design Engineer. Microsoft Certified Solutions Developer. Create simple solutions to complex problems.</p>
        </div>
        <div class="col-md-3 col-sm-6 hidden-xs wow bounceInLeft">
            <img class="avatar" data-bind="attr: {src: personalPhotoUri}" 
                 alt="Personal photo">
            <div class="profile-widget">
                <ul class="widget-social" data-bind="foreach: socialProfiles">
                    <li><a data-bind="attr: {href: link}"><i data-bind="css: iconClassName"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 wow bounceInUp">
            <div class="profile-widget">
                <h3>Skillset</h3>
                <div data-bind="foreach: skillItems">
                    <h5 data-bind="text: title"></h5>
                    <div class="skill-bar" data-bind="foreach: skillRates">
                        <div data-bind="css: skillRate"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 wow bounceInRight">
            <h3>Professional Profile</h3>
            <p>I'm specializing in scalable and secure web application and services architecture, cloud-enabled applications and operations, and identity & access management.</p>
            <p data-bind="text: goalMessage"></p>
        </div>
    </div>
</div>