<div class="container">
    <div class="row">
        <div class="col-sm-3 wow bounceInLeft">
            <div class="profile-item">
                <i class="fa fa-envelope"></i>
                <h5>ifesenko<!-- >@@. --><!-- >@@. -->@@<!-- >@@. -->outlook<!-- >@@. -->.<!-- >@@. -->com</h5>
            </div>
        </div>
        <div class="col-sm-3 wow bounceInDown">
            <div class="profile-item">
                <i class="fa fa-skype"></i>
                <h5>igor<!-- >@@. --><!-- >@@. -->.aka<!-- >@@. -->.<!-- >@@. -->ky7m</h5>
            </div>
        </div>
        <div class="col-sm-3 wow bounceInUp">
            <div class="profile-item">
                <i class="fa fa-twitter"></i>
                <h5><a href="http://ifesenko.com/go/twitter">@@Ky7m</a></h5>
            </div>
        </div>
        <div class="col-sm-3 wow bounceInRight">
            <div class="profile-item">
                <i class="fa fa-map-marker"></i>
                <h5>Lviv, Ukraine (UTC+02:00)</h5>
            </div>
        </div>
    </div><!-- .row -->
</div><!-- .container -->