<div class="container">
    <div class="row">
        <div class="col-md-12 headline wow bounceInDown">
            <h2>What I can do</h2>
            <p>
                I'm succeed in
            </p>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-6 wow bounceInLeft">
                    <div class="service">
                        <div class="icon">
                            <i class="fa fa-sitemap"></i>
                        </div>
                        <h4>Web Applications and Sites</h4>
                        <ul>
                            <li>Modern Websites (HTML 5, CSS 3, JavaScript)</li>
                            <li>Responsive Websites</li>
                            <li>Windows Azure Web Sites</li>
                            <li>ASP.NET MVC, Web Forms, and Web Sites</li>
                            <li>Web Frameworks (bootstrap, knockout and more)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 wow bounceInRight">
                    <div class="service">
                        <div class="icon">
                            <i class="fa fa-server"></i>
                        </div>
                        <h4>Web Services and SOA</h4>
                        <ul>
                            <li>ASP.NET Web API</li>
                            <li>Windows Communication Foundation (WCF)</li>
                            <li>REST, Web APIs, and SOAP RPC Services</li>
                        </ul>
                    </div>
                </div>
            </div><!-- .row -->
            <div class="row">
                <div class="col-sm-6 wow bounceInLeft" data-wow-delay=".2s">
                    <div class="service">
                        <div class="icon">
                            <i class="fa fa-user-secret"></i>
                        </div>
                        <h4>Security and Identity</h4>
                        <ul>
                            <li>Windows Identity Foundation (WIF)</li>
                            <li>WS-Security</li>
                            <li>OpenID/OAuth</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 wow bounceInRight" data-wow-delay=".2s">
                    <div class="service">
                        <div class="icon">
                            <i class="fa fa-database"></i>
                        </div>
                        <h4>Data Access, Integration, and Databases</h4>
                        <ul>
                            <li>ADO.NET & Entity Framework</li>
                            <li>SQL Server 2008, 2012 & 2014</li>
                            <li>Windows Azure SQL Database</li>
                            <li>SQL Server Integration Services (SSIS)</li>
                            <li>Windows Azure Table Storage (NoSQL)</li>
                        </ul>
                    </div>
                </div>
            </div><!-- .row -->
            <div class="row">
                <div class="col-sm-6 wow bounceInLeft" data-wow-delay=".4s">
                    <div class="service">
                        <div class="icon">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <h4>Desktop Applications</h4>
                        <ul>
                            <li>Windows 8 (Windows Store) Applications</li>
                            <li>Windows Presentation Foundation (WPF)</li>
                            <li>Windows Forms</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 wow bounceInRight" data-wow-delay=".4s">
                    <div class="service">
                        <div class="icon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <h4>Cloud Computing</h4>
                        <ul>
                            <li>Windows Azure</li>
                            <li>Amazon Web Services</li>
                        </ul>
                    </div>
                </div>
            </div><!-- .row -->
            <div class="row">
                <div class="col-sm-6 wow bounceInLeft" data-wow-delay=".6s">
                    <div class="service">
                        <div class="icon">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <h4>Mobile Client Applications</h4>
                        <ul>
                            <li>Windows Phone 8 / 8.1</li>
                            <li>Windows Store (Win 8) Applications</li>
                            <li>Xamarin for iOS, Android, and Windows Phone</li>
                            <li>Cordova</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 wow bounceInRight" data-wow-delay=".6s">
                    <div class="service">
                        <div class="icon">
                            <i class="fa fa-table"></i>
                        </div>
                        <h4>Big Data</h4>
                        <ul>
                            <li>Hadoop</li>
                            <li>HDInsight</li>
                        </ul>
                    </div>
                </div>
            </div><!-- .row -->
        </div><!-- .col-md-12 -->
    </div><!-- .row -->
</div><!-- .container -->