@model HomeModel
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12 hidden-xs wow bounceInLeft">
            <h3>Today's Activities</h3>
        </div>
        <div class="col-md-4 col-sm-4 wow bounceInDown">
            <div class="stat">
                <div class="stat-icon">
                    <h2><i class="fa fa-coffee hidden-xs"></i><span>@Model.StepsTaken</span></h2>
                </div>
                <h3>Steps taken</h3>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 wow bounceInUp">
            <div class="stat">
                <div class="stat-icon">
                    <h2><i class="fa fa-code hidden-xs"></i><span>@Model.CaloriesBurned</span></h2>
                </div>
                <h3>Calories burned</h3>
            </div>
        </div>
    </div><!-- .row -->
    <div class="row">
        <div class="col-md-4 col-sm-12 hidden-xs wow bounceInLeft">
            <h3>My Stats</h3>
        </div>
        <div class="col-md-4 col-sm-4 wow bounceInDown">
            <div class="stat">
                <div class="stat-icon">
                    <h2><i class="fa fa-coffee hidden-xs"></i><span>@Model.CupOfCoffee</span></h2>
                </div>
                <h3>Cup of coffee</h3>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 wow bounceInUp">
            <div class="stat">
                <div class="stat-icon">
                    <h2><i class="fa fa-code hidden-xs"></i><span>@Model.LineOfCode</span></h2>
                </div>
                <h3>Line of code</h3>
            </div>
        </div>
    </div><!-- .row -->
</div><!-- .container -->