<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="healthService:ApiUri" value="https://api.microsofthealth.net/v1/me/" />
        <add key="healthService:ClientId" value="0000000048160472" />
        <add key="healthService:ClientSecret" value="1F7MndfGzAh1uMMMAH5aQ6oSw0H8bXD4" />
        <add key="healthService:Scope" value="mshealth.ReadProfile mshealth.ReadActivityHistory mshealth.ReadDevices mshealth.ReadActivityLocation offline_access" />
        <add key="healthService:AccessToken" value="EwCQAvF0BAAUkWhN6f8bO0+g89MA1fmZueWyRkQAAZc3gz7LahhJ/E5qdQMvbdOKIvqURSBMVktvJ7VjfJjM8smzzrwCU/K/7Jd/f4KXQvVyTVqSENyZYIY0ZdaktMXwGmWgZQbvsi+OCD42Zirfx9I8UmWZQZG+yRATRptfzFffW6R/oGi+A6/SdahFiC8eAsQu/mV6uMJDS3O9UmOmu0BUjvCd3pKyMHaYu3ifOS8+iOcnZjOIzFE/BwItfHUoqHliPDeOXGTlc7n0cZbJMFuVI0FpzWiUQtE+fxgC+F2HqEAwgIh+O4Bc/4qR2ylWopnX6f4hUi8PNs1F7gXPVlHY9wjyUa0y77n+7MKjAKfbgcom7xSReVzJXzQHtggDZgAACMbdpQAZsApEYAEWYZ8kqq4jmiGmuA//+8jP87o0UxMEVfKHUzw47g/x3ul8ottLl7GB9JBtLWzYUTUAWayFCnSeZ59ZYZ8SVztHiKZPYfScO/qM5pF5R+cx27V0dqx92jGADwQJhbadolQ65b+1sNrmHqcFHbii9OIFEe4X1atFH3AFOwf/CTvUJkc5ixKlyaxuWZwEjCKMq35XuDGRcG/jtHggcRUFniB7bYWl9X32GgwW/ABMFTHpLelFcNXEkPEClC53uSPOaeRsnNt67/JGir7uJ03TwvBfZxnvxQCnUG4v7dYTd73zQxljifFq2FztpHXpMT6awpgqdM2oPFygIAkTI3WaxU9T6Cdv7nZjeJPxMVxTYZ2JywxWEHeWarhZgGQI/tFkrS5Sa2xEmYjHkzqs1C9oD14a7MgiP9vhw6+mh+ZIwUiMZnQuO0j1av5dudgiUEBJkjofTvf/WQBCAfMkAAyWQ/phdQE=" />
        <add key="healthService:RefreshToken" value="MCqbkG6NayXSeltHdPWrwMaBimBqYXl7x9oRe9jcDpn*BKh4g5w0WmWbMhH5ibxELIpj7hW8YICUHlCLbkxxOTpGa1bpeDqACwPHZYCVdZBF*ZcIm9FSpdq1kSdlSP8vx5*7HCJJ8bmOsk4tdbymxuY8yUe5GSRxbgMSTQVzeNX3CvQNM7GI!PkJMSpuyV7wyOPOVqdfIked9IAUUvtyG3vV14DH241fBaBI5pOOAEYaIs2YRf0g6Ft!4I8pPVhPCfZmFb42e58kAVeJjJrhTzB*lq61flcixNJoRwBcoEYQNars2STpLHUP9rDuEb6CmAVLGtzHAmOG*njVe9Ow97ojBhKR0FrNcYS0SSp6iRNg*82xcKW9LE2zB0!Cph5k82bnNVjzpsxyupIyLALU5C72WGWBlDmY5rwTksKh3P3ob" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Diagnostics.Instrumentation.Extensions.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.161" newVersion="1.0.0.161" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMarkupMin.Core" publicKeyToken="99472178d266584b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.12.0" newVersion="0.9.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.5639" newVersion="1.2.0.5639" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
