<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="healthService:ApiUri" value="https://api.microsofthealth.net/v1/me/" />
		<add key="healthService:ClientId" value="0000000048160472" />
		<add key="healthService:ClientSecret" value="1F7MndfGzAh1uMMMAH5aQ6oSw0H8bXD4" />
		<add key="healthService:Scope" value="mshealth.ReadProfile mshealth.ReadActivityHistory mshealth.ReadDevices mshealth.ReadActivityLocation offline_access" />
		<add key="healthService:AuthCode" value="M9ad52123-316e-b6be-92a9-16f4a1c5d8ef" />
		<add key="healthService:AccessToken" value="EwCQAvF0BAAUkWhN6f8bO0+g89MA1fmZueWyRkQAARKjC74ORvTayd7mdkE2aL7WTCliFyCaCQN03nptONKjRryd2JuSU1LAEbt34W3QyowwbeD8RHCCy1VC3uFMTvi2CVAt5gC+mGr7ertqRsfTexgLvVmPagz13PGXBbNp98/TUbl1amzgRe8R1l5chcQqxUBUtbiA6Oi/R6wtzfueiVbMiuev7Hlx49STb9cQPfTBf2JPpl93OPV7RgW0JM3Cb/70WUSHMuk7uI4eTouemWqFJaIMGQPjEgTkunZsh5SJasHMbefSVdLN6xk28HPX0e7MyVNh3GgZbEuq16yme63D09riCl3axa7mzjn6VprYU3GyElyGRCodeYu9uSoDZgAACM2vg7y8h/RVYAGfHIXCwfXMkNWqj8fUIOJ3n4m0cqi8QgujoNKitPVGZTQ9vuhSyAEZzJvdq7Rkx8dBGSuH64FhsJ/TXTVe/3SRp5B70gHOkeyosVxLQlALgyvEwKETxWE/Ee0rs8D+SSBarOtw4OCmH5S4H6TlZMpYx/rdI25lHc4E6sftFo2xWWfb4XhLO2MNCedajBN/fARDBt0etRqSnx9HlM+vbDj/sI+cLsDj2M2gysXcYpqJmyHdnzT2u1qg8KDUwBb4G7+XUL+KEdyweFltHH83h5Rx0BU8+UdXCScbmVM8FKtFwJALZtUut5t8Ea/2Kk0JldxGwsWyAg4SnclZtXgjBKRn0tbt+oETrhr9cgUvp/m01GE2/PlSX5QId6v5YxQKaLkIylijez6+tvcD/7Gn8Y5pMNMH+rrV+R0IWze3SctG6juNC82acVSQJbQd/1fn7FxIqx1K9w6WwKzT4buU76BQdQE=" />
		<add key="healthService:RefreshToken" value="MCgYEqGOp0lggHi!JK8Ve0HQn8vKpnWpomH6VB9XC0demqN*fNdhThVe3ZkaXSp4XVFhH9!TQHpn3mwJNKzhpqZtp0XuQL4ufpBQkwlonFqLAdvkfwzcveWcBdfkLOFrfZmv4RICRKNBOJ1F5cmmz9brtPt2!lwmky6YiQyh0WXJO2caZh7vdpis4VyW9mUmeDQrxemr7N6GwUnvK*VbRjmX9p*4p2ns!RcXW1wWqngba34f6XQnZXeMGFd68nWdir1Zdyj*UnisRGQrde6fW!BRrZlErRgvjKAawOMD5RxmzDFmqf!INIkAk19hjXL9F!HhlI5mYhIrZNhFoTDGUgdkv9RPjeeu64**1J8KC!oCpbVRMyUJUTyh*c3IrJa1TeKCK08xl4SWuwB3dzVHHBV7PIS8aUQiN46W!m4n4ITm2" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Diagnostics.Instrumentation.Extensions.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.161" newVersion="1.0.0.161" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMarkupMin.Core" publicKeyToken="99472178d266584b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.12.0" newVersion="0.9.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.5639" newVersion="1.2.0.5639" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup></configuration>
