<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="healthService:ApiUri" value="https://api.microsofthealth.net/v1/me/" />
		<add key="healthService:ClientId" value="0000000048160472" />
		<add key="healthService:ClientSecret" value="1F7MndfGzAh1uMMMAH5aQ6oSw0H8bXD4" />
		<add key="healthService:Scope" value="mshealth.ReadProfile mshealth.ReadActivityHistory mshealth.ReadDevices mshealth.ReadActivityLocation offline_access" />
		<add key="healthService:AuthCode" value="M9ad52123-316e-b6be-92a9-16f4a1c5d8ef" />
		<add key="healthService:AccessToken" value="EwCQAvF0BAAUkWhN6f8bO0+g89MA1fmZueWyRkQAAZtNSbipfMtvGR1twS1GuiV5Rw+idOnnjIqd/RCQG+Pxi2XJ56fbYK2K5YpPubVwyCHGJPLMkheh+VNrtAe8fAEv7MckmB8nJxxqT3Kxlg05t+Qf8YrzTfWXT9SClkkaR928VcuGTOOsrAfOBYfIJK3VWLpG6wG5fXxsX61um954k3QDvMK36JaoF8s/21nfN222cbzZ/z27ZUt9axA7OUwGry0vqAbNzL90Mwd5BkOIyxJq/8ptyhqnC6jDhE7DmGdua5dXZWsS+UePd1gsXzL03bbQOayjICFzKeubut6qFWiJdqUA7WCySQLgdR+BJHsA/zGeC9iG8+hRIV39bEgDZgAACOMnngVyvplTYAFVD/U7fmoXrfXbTc6IKuN7DsHpaKhjE4y7GlfgJyXSJshkDDebQtWU67s90l6WMSLZ8j3vkCbPjNtkYe99666uyEHCd1tEm0V8AWWtGyAVUMtolrnvMsAuEws2afsCXBlemRwRuNg1bk7agec3xE7bl/7NmCpqti7i50b8B6qiDEMI+cfmsXwqyB0xCPSNWVgsqrybCAacL/5kkgajGaG6XRq4nto2HJXo0AirxHI5kaVbDNPIbOKoF5NhT2dxe6UWod2mYCOm62ccBJogGzwL25vLlbuXHzSTTQiWDABqsfw5OtEc5KCtLWEqGMPyV8wLvHCuu2n1MLugpqbAoI70kNstHzuJiejs5EDYOAER/4Dvp98YIgHgkH9lFLpXUqJ4CL3yOl0OopBiGMTGBFJ9hrRKSQABm9/55MXa3a17oUVOE7x0cJ5YLEvSdwXjh61bG4qMtK9JyvFWWXlhviRVdQE=" />
		<add key="healthService:RefreshToken" value="MCppNrK1auKA!goBiqusKRW7OXoD7WTZ!DXsTjRB0JmESxSSB4wpvYp2HQqpahocl!PqhAatm!NgP*ckjoR*t!SIRXnMlxGP2hgmQlzHMKTgTrCBDh4y5u5UxAb1q8fMiA7ONaC!P8u9qIUQjqJE*S2gcpIwJRp90vDOZh0dRpDDBdX13CQhGOLjSRKSVUfS1**DJdIVj5BDG5TBwtBppSvbs3eF6pbrKunRoAZJJ!ZBT9*CqaagkP6e9Ja!irSLaBv1Tn6pCHr2Dap*zrhHO!KP8HHwUHiHZMhU9d806WvvZ8kil5nVhqsRT50zPyoldJC7z7Jy2GmRDxh9kLPiFPWl8XW7iEgxPuBc6HKgurpGZOxxQWltH63hpm!F7O9irpgW4KAzBEJ*uSNsP7Wqvtu1rPzi*SmD*rbR2n9TuNf8u" />
	</appSettings>
</configuration>