<div class="container">
    <div class="row">
        <div class="col-md-12 headline wow bounceInDown">
            <h2>Igor Fesenko</h2>
            <p>
                Software Design Engineer. Microsoft Certified Solutions Developer. Create simple solutions to complex problems.
            </p>
        </div>
        <div class="col-md-3 col-sm-6 hidden-xs wow bounceInLeft">
            <img class="avatar" src="@CdnUrl.Content("content/images/avatar.jpg")"
                 alt="Personal photo"
                 onerror="this.onerror = null; this.src = '@Url.Content("~/content/images/avatar.jpg")';">
            <div class="profile-widget">
                <ul class="widget-social">
                    <li><a href="https://github.com/Ky7m"><i class="fa fa-github-alt"></i></a></li>
                    <li><a href="https://bitbucket.org/Ky7m"><i class="fa fa-bitbucket"></i></a></li>
                    <li><a href="https://www.linkedin.com/profile/view?id=182744142"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://twitter.com/ky7m"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 wow bounceInUp">
            <div class="profile-widget">
                <h3>Skillset</h3>

                <h5>Web Applications and Sites</h5>
                <div class="skill-bar">
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                </div>

                <h5>Web Services and SOA</h5>
                <div class="skill-bar">
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                </div>

                <h5>Security and Identity</h5>
                <div class="skill-bar">
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                </div>

                <h5>Data Access, Integration, and Databases</h5>
                <div class="skill-bar">
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-off"></div>
                </div>

                <h5>Desktop Applications</h5>
                <div class="skill-bar">
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-off"></div>
                </div>

                <h5>Cloud Computing</h5>
                <div class="skill-bar">
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-off"></div>
                </div>

                <h5>Mobile Client Applications</h5>
                <div class="skill-bar">
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-off"></div>
                </div>

                <h5>Big Data</h5>
                <div class="skill-bar">
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-off"></div>
                    <div class="skill-rate-off"></div>
                </div>
            </div>
        </div><!-- .col-md-3 -->
        <div class="col-md-6 col-sm-12 wow bounceInRight">
            <h3>Professional Profile</h3>
            <p>
                I'm specializing in scalable and secure web application and services architecture, cloud-enabled applications and operations, and identity & access management.
            </p>
            <p>
                I'm available for helping your team succeed through focused and effective consulting services in software solution architecture, design, development, security, operations, automated lifecycle management, and more.
            </p>
        </div>
    </div><!-- .row -->
</div><!-- .container -->