@{
    ViewBag.Title = "Page not found";
}
<div class="errorPage">
    <img class="error-image" src="@CdnUrl.Content("content/images/robot.png")" alt="An error occurred!" />
    <h1>Page not found!</h1>
    <h3>I am sorry, but the page you are looking for cannot be found.</h3>
</div>
