<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>
		<httpErrors errorMode="Custom" existingResponse="Replace">
			<remove statusCode="404"/>
			<remove statusCode="500"/>
			<error statusCode="404" responseMode="ExecuteURL" path="/Error/NotFound"/>
			<error statusCode="500" responseMode="ExecuteURL" path="/Error/Index"/>
		</httpErrors>
	</system.webServer>
</configuration>
