@using PersonalWebApp.Settings
@using Microsoft.Extensions.Options
@model HomeModel
@inject IOptions<AppSettings> AppSettings
@{
    ViewBag.Title = "Igor Fesenko - You're welcome!";
}
<div class="wrapper">
    <div id="loader">
        <div id="status">
            <div class="status-mes">
            </div>
        </div>
    </div>
    <header role="banner">
        <nav class="navbar navbar-expand-lg navbar-custom fixed-top" role="navigation">
            <div class="container">
                <a class="navbar-brand" href="#home" rel="noopener">Igor Fesenko</a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#bs-navbar-collapse" aria-controls="bs-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#home" rel="noopener">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#profile" rel="noopener">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="#events" rel="noopener">Events</a></li>
                        <li class="nav-item"><a class="nav-link" href="#certifications" rel="noopener">Certifications</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        <section id="home" class="section" data-image-source="@AppSettings.Value.CdnEndpoint/images/background.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hello">
                            <h1>Hi, I'm Igor Fesenko</h1>
                            <h3>
                                <span id="textrotator" class="remove-shadow">Microsoft® Most Valuable Professional | Create simple solutions to complex problems</span>
                            </h3>
                        </div>
                        <a href="#profile">
                            <div class="mouse-icon">
                                <div class="wheel"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section id="profile-contact">
            @{await Html.RenderPartialAsync("Sections/QuickInformation");}
        </section>
        <section id="profile" class="section">
            @{await Html.RenderPartialAsync("Sections/Profile");}
        </section>
        <section id="events" class="section">
            @{await Html.RenderPartialAsync("Sections/Events", Model);}
        </section>
        <section id="certifications" class="callout">
            @{await Html.RenderPartialAsync("Sections/Certifications");}
        </section>
    </main>
</div>