@using Microsoft.AspNetCore.Http
@model int

@{
    switch (Model)
    {
        case StatusCodes.Status400BadRequest:
            ViewBag.Title = "Bad Request";
            ViewBag.Description = "I am sorry, but your browser sent a request that this server could not understand.";
            break;
        case StatusCodes.Status401Unauthorized:
            ViewBag.Title = "Unauthorized";
            ViewBag.Description = "I am sorry, but the page requires authentication.";
            break;
        case StatusCodes.Status403Forbidden:
            ViewBag.Title = "Forbidden";
            ViewBag.Description = "I am sorry, but you don't have permission to access this page.";
            break;
        case StatusCodes.Status404NotFound:
            ViewBag.Title = "Page Not Found";
            ViewBag.Description = "I am sorry, but the page you are looking for cannot be found.";
            break;
        default:
            ViewBag.Title = "An error occurred!";
            ViewBag.Description = "I am sorry, something bad has happened. Please wait a moment and try again.";
            break;
    }
}


<div class="errorPage">
    <img class="error-image" src="~/images/robot.png" alt="An error occurred!" />
    <h1>@ViewBag.Title</h1>
    <h3>@ViewBag.Description</h3>
</div>
