<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
        <!-- customErrors - Turn on custom error pages instead of ASP.NET errors containing stack traces which are a security risk. -->
        <customErrors xdt:Transform="SetAttributes(mode)" mode="On"/>
    </system.web>
    <system.webServer>
        <!-- dynamicCompressionBeforeCache - This is set to false in Debug mode to enable Browser Link to work when debugging.
                                         The value is set to true in Release mode (See web.Release.config). -->
        <urlCompression xdt:Transform="SetAttributes(dynamicCompressionBeforeCache)"
                        dynamicCompressionBeforeCache="true"/>
    </system.webServer>
</configuration>
