<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Page not found</title>
    <style>
        .errorPage {
            padding: 0;
            background: #552d91;
            text-align: center;
            color: #eee;
            font-family: "Segoe UI", Tahoma, Geneva, sans-serif;
        }

        img {
            max-height: 400px;
            width: 20%;
            margin-top: 30px;
        }
    </style>
</head>

<body class="errorPage">
    <img src="@CdnUrl.Content("robot.png")" alt="Page not found!" />
    <h1>Page not found!</h1>
    <h3>I am sorry, but the page you are looking for cannot be found.</h3>
</body>
</html>
