name: Build and Deploy
on:
  push:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    outputs:
      artifact-name: ${{ steps.current-time.outputs.formattedTime }}.${{ github.run_number }}
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-dotnet@v5.0.1
      with:
         dotnet-version: 9.x
        
    - name: Get current time
      uses: josStorer/get-current-time@v2
      id: current-time
      with:
        format: YYYY.MM.DD
    
    - name: Build
      shell: pwsh
      run: .\build\build.ps1 --buildNumber=${{ steps.current-time.outputs.formattedTime }}.${{ github.run_number }}
    
    - name: Publish
      uses: actions/upload-artifact@v6
      with:
        name: ${{ steps.current-time.outputs.formattedTime }}.${{ github.run_number }}
        path: ${{ github.workspace }}/build/artifacts/Build.StagingDirectory/*.zip

  deploy-to-staging:
    name: Deploy to Staging
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: staging
      url: ${{ steps.deploywebapp.outputs.webapp-url }}
    steps:
    - uses: actions/download-artifact@v7
      with:
        name: ${{ needs.build.outputs.artifact-name }}
    
    - name: OIDC Login via Azure CLI
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        
    - name: Deploy to Stage
      id: deploywebapp
      uses: azure/webapps-deploy@v3
      with:
        app-name: app-ifesenko-centralus
        slot-name: staging
        package: ${{ needs.build.outputs.artifact-name }}.zip
      
  deploy-to-prod:
    name: Deploy to Production
    runs-on: ubuntu-latest
    needs: [ build, deploy-to-staging ]
    environment:
      name: prod
      url: https://ifesenko.com
    steps:
    - uses: actions/download-artifact@v7
      with:
        name: ${{ needs.build.outputs.artifact-name }}
    
    - name: OIDC Login via Azure CLI
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        
    - name: Deploy to Prod
      id: deploywebapp
      uses: azure/webapps-deploy@v3
      with:
        app-name: app-ifesenko-centralus
        package: ${{ needs.build.outputs.artifact-name }}.zip
  
